$font-face: 'dk_black_bambooregular', sans-serif;
$font-face-titulos: 'dk_cinnabar_brush', sans-serif;

$max-width: 1920px;
$center-width: 990px;

@font-face {
    font-family: 'dk_liquid_embraceregular';
    src: url('../index/font/dk_liquid_embrace-webfont.eot');
    src: url('../index/font/dk_liquid_embrace-webfont.eot?#iefix') format('embedded-opentype'),
         url('../index/font/dk_liquid_embrace-webfont.woff2') format('woff2'),
         url('../index/font/dk_liquid_embrace-webfont.woff') format('woff'),
         url('../index/font/dk_liquid_embrace-webfont.ttf') format('truetype'),
         url('../index/font/dk_liquid_embrace-webfont.svg#dk_liquid_embraceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dk_black_bambooregular';
    src: url('../index/font/dk_black_bamboo-webfont.eot');
    src: url('../index/font/dk_black_bamboo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../index/font/dk_black_bamboo-webfont.woff2') format('woff2'),
         url('../index/font/dk_black_bamboo-webfont.woff') format('woff'),
         url('../index/font/dk_black_bamboo-webfont.ttf') format('truetype'),
         url('../index/font/dk_black_bamboo-webfont.svg#dk_black_bambooregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dk_cinnabar_brush';
    src: url('../index/font/dk_cinnabar_brush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

%noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin limita-linhas($altura, $linhas){
    display: block;
    display: -webkit-box;
    height: $altura;
    -webkit-line-clamp: $linhas;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin border-radius($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow ($r) {
    -webkit-box-shadow: $r;
    -moz-box-shadow: $r;
    box-shadow: $r;
}

@mixin transition($duration: .3s){
    -webkit-transition: $duration; 
    -moz-transition: $duration; 
    -o-transition: $duration;
    transition: $duration;
}

@mixin opacity($opacity) {
    $opacity-ie: $opacity * 100;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
    filter: alpha(opacity=$opacity-ie);
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
}

@mixin rotate($deg: 0deg, $origin: 50% 50%) {
    -ms-transform-origin: $origin; /* IE 9 */
    transform-origin: $origin;
    -webkit-transform-origin: $origin; /* Chrome, Safari, Opera */
    
    -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
    transform: rotate($deg);    
}

@mixin animation($animation, $type, $duration, $infinite) {
    animation: $animation $type $duration;
    -webkit-animation: $animation $type $duration;
    -moz-animation: $animation $type $duration;
    -ms-animation: $animation $type $duration;
    
    animation-iteration-count: $infinite;
    -webkit-animation-iteration-count: $infinite;
    -moz-animation-iteration-count: $infinite;
    -ms-animation-iteration-count: $infinite;
}

@mixin slider($h) {

    position: relative;
    height: $h;
    padding: 0;
    z-index: 1;
    
    a.ctrl {
        display: block;
        position: absolute;
        top: ($h / 2) - 30px;
        width: 64px;
        height: 45px;
        text-decoration: none;
        background: url(../../img/index2017/bg-slider-ctrl-arrow.jpg) no-repeat;

        @include transition;

        &.prev {
            background-position: 0 0;
            left: -80px;
        }
        &.next {
            background-position: -64px 0;
            right: -80px;
        }

        &:hover { @include opacity(.8); }
    }
    
    .overflow,
    .overflow .list,
    .overflow .list .item,
    .overflow .list .item a.link {
        height: $h;
    }

    .overflow {
        position: relative;
        margin: 0 auto; 
        overflow: hidden;
        padding-bottom: 60px;
        width: 100%;
        z-index: 2;
        
        .list {
            width: 5000%;

            .item {
                float: left;
                width: 2%;
                background: #ccc;
                .link {
                    img{
                        width: 100%;
                    }
                }
                a.link {
                    display: block;
                    text-decoration: none;
                    background-color: $cor1;

                    @include transition();
                    &:hover { @include box-shadow(0 0 10px rgba(0,0,0,.1)); }

                    figure,
                    figure img {
                        width: 100%;
                        height: $h;
                    }
                    
                    img{
                        width: 100%;
                    }
                    figure { 
                        position: relative;
                        
                        img {
                            display: block;
                        }
                    }
                }                        
            }
        }
    }    
}


%clearfix {
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}

%titulo {
    padding: 30px 55px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    color: $cortexto;
    text-transform: uppercase;
}

/*
%input {
    
    border: 1px $corform1 solid;
    margin: 0;
    padding: 9px 19px;
    background: $cor1;
    color: $corform2;
    font-size: 14px;
    font-family: $font-face;
    line-height: 25px;
    height: 25px;

    @include border-radius();
    @include transition();

    &.disabled {
        background-color: lighten($corform1, 12%);
    }

    &.empty{
        border: 1px solid $cor3-medio;
        background-color: lighten($cor3-medio, 30%);
    }

    &.invalid{
        border: 1px solid $corform5;
        background-color: lighten($corform5, 30%);
    }
    
}
%submit {
    border: none;
    margin: 0;
    width: 100%;
    height: 45px;
    font: 700 16px/45px $font-face;
    color: $cor1;
    background: $corform6;
    cursor: pointer;

    @include border-radius();
    @include transition();

    &:hover { background-color: lighten($corform6, 5%); }
}
%botao {
    display: block;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    color: $cor1;
    background: darken($corform1, 5%);
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    @include border-radius();
    @include transition();

    &:hover { background-color: $corform1; }
}*/

@mixin bp-large {
    @media only screen and (min-width: 1366px) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (max-width: 1025px) {
        @content;
    }
}
@mixin bp-empresa-medium {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@mixin bp-small {
  @media only screen and (max-width: 770px) {
    @content;
  }
}

@mixin bp-xsmall {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin bp-menu {
    @media only screen and (max-width: 1100px) {
        @content;
    }
}
@mixin bp-menu-small {
    @media only screen and (max-width: 940px) {
        @content;
    }
}
@mixin bp-pragas {
    @media only screen and (max-width: 865px) {
        @content;
    }
}
@mixin bp-pragas-small {
    @media only screen and (max-width: 543px) {
        @content;
    }
}


@mixin bp-mobile-medium {
    @media only screen and (max-width: 645px) {
        @content;
    }
}
@mixin bp-mobile-small {
    @media only screen and (max-width: 481px) {
        @content;
    }
}
