$cor1: #fff; // Vranco

$cor2: #0277bd; //Azul Claro
$cor2-medio: #005385; //Azul Medio

$cor3: #26a69a; // Verde

// Cores do fundo
$cor4-claro: #fafafa; //Cinza / Branco
$cor4-normal: #efefef; //Cinza
$cor4-medio: #f0efef; //Cinza
$cor4: #c7c7c7; //Cinza

$cor5: #FF3030;

$cortexto: #919191; //Cinza

